/*
  Potential Font colors: 
  E98074  
  E85A4F
  EAE7DC
  D8C3A5
  8E8D8A
*/
.app-container {
  background-color: #EAE7DC;
}
.homepage-container {
  min-height: 100vh;
  background: rgb(255,47,40);
  background: linear-gradient(45deg, rgba(255,47,40,1) 0%, rgba(235,132,47,1) 30%, rgba(255,192,0,1) 100%);
  background-image: 
  linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
  url('https://images.pexels.com/photos/1439157/pexels-photo-1439157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

  background-size: cover;
  background-position: center; 
  object-fit: cover;
}


.text-banner {
  background-color: inherit;
  height: 900px;
  width: 1023px;
  margin: auto;
  display: flex;
  justify-content: left;
  background-color:inherit;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-banner div h1 {
  font-size: 5em;
   font-family: Times, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #EAE7DC;
}
.text-banner div h2 {
  font-size: 2em;
   font-family: Times, Arial, Helvetica, sans-serif;
  -webkit-text-fill-color: #EAE7DC;
  font-weight: 700;

}

@media(max-width: 1200px) {
  .text-banner {
    padding-left:0;
    width: 90%;
    height: 95vh;
  }
  .text-banner div h1 {
    font-size: 3.5rem;
  }
  .text-banner div h2 {
    font-size: 1.3rem;
  }
}