.mobile-position {
  display: none;
  overflow: hidden; 
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #EAE7DA;
}
.comp-container{
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container span {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  color: #E98074;
}
.navbar-container span a {
  color: #FFF;
  text-decoration: none;
}
.navbar-display {
    display: none;
}
#collapsibleNavbar {
    background-color:inherit;
    text-align: center;
}
.nav-item {
  margin: .7rem;
}
.nav-item span{
  color: #E98074;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
}
.navbar-toggler-icon {
    color: #FFF;
}
.mobile-nav-button {
    background-color: inherit;
    color: #E98074;
    font-size: 1.2rem;
    border-radius: .3rem;
    border: 1px #E98074 solid;
    outline: none !important;
    box-shadow: none;
}
@media(max-width: 1200px) {
  .mobile-position {
    display: block;
  }
    .navbar-display {
        display: flex;
        justify-content: space-between;
        background-color: inherit;
    }
    .comp-container {
        display: none;
    }
}