/*
  Potential Font colors: 
  E98074  
  E85A4F
  EAE7DC
  D8C3A5
  8E8D8A
*/
.about-container {
    background-color: #EAE7DC;
}
.about-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    color: #E98074;
    min-height: 950px;
    padding-bottom: 2rem;
}
.about-page h1 {
    font-size: 2.3rem;
    font-family: Times, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}
.about-table {
    width: 1023px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    background-color: #FFF;
}
.about-table div p {
    color: #000;
}
.about-table div, .about-table div img, .about-page h1, .center-contact div {
    background-color: #FFF;
    font-weight: 700;
    font-family: Times, Arial, Helvetica, sans-serif;

}
.about-sections p {
    margin-top: 0.5rem;
    font-weight: 700;
    font-family: Times, Arial, Helvetica, sans-serif;
    width: 100%;
}
.about-sections p{
    width: 100%;
    margin-bottom: 2rem;
}
.about-sections h1 {
    color: #E98074;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Times, Arial, Helvetica, sans-serif;
}
.about-sections img {
    width: 75px;
    margin-right: 1rem;
    
}
.my-image {
    margin: 2rem;
    width: 200px;
    border-radius: 50%;
}

@media(max-width: 1200px) {
    .about-table{
        display: block;
        width: 90%;
    }
    .about-page {
        padding-top: 100px;
    }
    .about-container {
        padding-bottom: 5rem;
    }
}