.contact-container {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.center-contact {
    width: 1023px;
    margin: auto;
    background-color: #FFF;
    border-radius: 2rem;

}
.center-contact h1 {
    color: #E98074;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: Times, Arial, Helvetica, sans-serif;
}
.center-contact p {
    font-family: Times, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.center-contact p, .center-contact h1, .center-contact div {
    margin-top: 1rem;
    background-color: inherit;
}
.center-contact img {
    margin-right: 1rem;
}
.image-icon {
    width: 50px;
}

@media(max-width: 1200px) {
    .center-contact {
        width: 90%;
    }
}