.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.text-centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-images {
  width: 25%;
}
.homepage-image {
  width: 100%;
  min-height: 100vh;
}