.app-container {
  overflow: hidden;
}
.image-container {
  position: relative;
  text-align: center;
  color: #71BBD0;
}
.header-title {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: #71BBD0;
  -webkit-text-stroke-width: 1px; 
}
.text-centered {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-images {
  width: 25%;
}
.homepage-image {
  width: 100%;
}
.header-subtitle {
  font-size: 2.4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #A7A7A7;
  -webkit-text-stroke-width: 2px; 
}
@media all and (max-width: 1250px) {
  .text-centered {
    top: 48.5%;
    width: 95%;
  }
  .header-title {
    font-size: 2em;
  }
  .header-subtitle {
    font-size: 1em;
    -webkit-text-stroke-width: 1px; 
  }
}