.navbar-container {
  height: 4.909em;
  background-color: #add8e6;
}

.navbar-margins {
  display: flex;
  justify-content: space-between;
  margin: 0% 20% 0% 20%;
}
.navbar-postion {
  width: 30%;
}
.navbar-items {
  display: flex;
  flex-direction: column;
}
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -225px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;

}

.navbar-items-left {
  width: 100%;
}
.navbar-items-right {
  width: 100%;
}
.open-button {
  width: 100%;
  margin-left: 110px;
  font-size: 40px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}
.close-button {
  font-size: 40px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  display: none;
}

.name-button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 90%;
  margin-left: 30px;
  font-size: 40px;
  cursor: pointer;
  border: none;
}
.name-button:hover {
  text-decoration: underline;
}
.other-button:hover {
  color: rgb(74, 74, 74);
}
.close-button:hover {
  color: rgb(74, 74, 74);
}
.open-button:hover {
  color: rgb(74, 74, 74);
}
.other-button {
  width: 50%;
  font-size: 30px;
  cursor: pointer;
  margin: 5px 0% 0% 75px;
  border: none;
  font-family: 'PT Serif', 'Roboto', sans-serif;
}
.project-link {
  text-decoration: none;
}
.header-item {
  text-align: center;
}
.sidebar-color {
  background-color: #71BBD0;
}
