.page-container {
  margin-left: 75px;
}
.page-size {
  height: 100vh;
}
.contact-page-size {
  height: 100vh;
}
.resume-page-size {
  height: 142vh;
}
.my-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 13%;
}
.my-image2 {
  width: 35%;
 margin-left: 2.5%;
}
.red-page {
  background-color: rosybrown;
}
.white-page {
  background-color: whitesmoke;
}
.section-title {
  margin-top: 1em;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.section-container {
  display: flex;
  justify-content: space-between;
  margin: 4em 15% 0% 15%;
}
.section-divider-left {
  width: 30%;
}
.section-divider-center {
  width: 30%;
  margin: 0% 1% 0% 1%;
}
.section-divider-right {
  width: 30%;
}
.center-contact {
  text-align: center;
}
.image-size {
  width: 10%;
}
@media all and (max-width: 1100px) {
  .section-container {
    display: block;
    margin: 8% 5% 0% 5%;
    padding-bottom: 4em;
  }
  .section-divider-left {
    width: 100%;
    margin-top:4em;
  }
  .section-divider-center {
    width: 100%;
    margin: 4em 1% 0% 1%;
  }
  .section-divider-right {
    margin-top:4em;
    width: 100%;
  }
  .page-size {
    height: auto;
  }
  .resume-page-size {
    height: 100vh;
  }
  .my-image {
    width: 9em;
  }
  .image-size {
    width: 30%;
  }
}
@media all and (max-width: 800px) {
  .text-size {
    font-size: 12px;
  }
}