.page-container {
  margin-left: 75px;
}
.page-size {
  height: 120vh;
}
.my-image {
  width: 15%;
 margin-left: 42.5%;
}
.my-image2 {
  width: 35%;
 margin-left: 2.5%;
}
.red-page {
  background-color: rosybrown;
}
.white-page {
  background-color: whitesmoke;
}
.section-title {
  margin-top: 1em;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.section-container {
  display: flex;
  margin-left: 20%;
  margin-top: 8%;
}
.section-divider-left {
  width: 25%;
}
.section-divider-center {
  width: 25%;
  margin: 0% 1% 0% 1%;
}
.section-divider-right {
  width: 25%;
}
.center-contact {
  text-align: center;
}

@media all and (max-width: 800px) {
  .section-container {
    display: block;
    margin-left: 0%;
    margin-top: 8%;
  }
  .section-divider-left {
    width: 100%;
  }
  .section-divider-center {
    width: 100%;
    margin: 0% 1% 0% 1%;
  }
  .section-divider-right {
    width: 100%;
  }
  .page-size {
    height: 300vh;
  }
}