$padding: 20em;

.page-size {
  height: auto;
}
.contact-margin {
  margin-top: 20%;
}
.set-font {
  font-family: 'Arvo', sans-serif;
}
.resume-page-size {
  height: 152vh;
}
.my-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 10EM;
}
.my-image2 {
  width: 35%;
 margin-left: 2.5%;
}

.about-page {
  background-color: #ABD5E1;
  padding-bottom: $padding;
}

.project-page {
  background-color: #E2E2E2;
  padding-bottom: $padding;
}
.resume-page {
  background-color: #A7A7A7;
  padding-bottom: 15em;
}
.contact-page {
  background-color: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.experience-margin {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
}
.resume-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 15px 5px 15px;
  background-color: #E2E2E2;

}
.resume-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.section-title {
  margin-top: 2em;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.contact-title {
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.section-container {
  display: flex;
  justify-content: space-between;
  margin: 4em 10% 0% 10%;
}
.section-divider-left {
  width: 30%;
}
.section-divider-center {
  width: 30%;
  margin: 0% 1% 0% 1%;
}
.section-divider-right {
  width: 30%;
}
.center-contact {
  text-align: center;
}
.image-size {
  width: 3%;
  margin: 0em 1em 0em 1em;
}
.pdf-size {
  width: 100%;
}

@media all and (max-width: 1250px) {
  .section-container {
    display: block;
    margin: 8% 5% 0% 5%;
    padding-bottom: 4em;
  }
  .section-divider-left {
    width: 100%;
    margin-top:4em;
  }
  .section-divider-center {
    width: 100%;
    margin: 4em 1% 0% 1%;
  }
  .section-divider-right {
    margin-top:4em;
    width: 100%;
  }
  .page-size {
    height: auto;
  }
  .resume-page-size {
    height: 100vh;
  }
  .my-image {
    width: 9em;
  }
  .image-size {
    width: 10%;
  }
  
}
@media all and (max-width: 800px) {
  .text-size {
    font-size: 12px;
  }
}