@font-face {
    font-family: bevan;
    src: url()
}
.nav-height {
    height: 50px;
}
.sticky-nav {
    overflow: hidden; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #EAE7DA;
}
.nav-container {
    width: 1023px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50px;

}
.tab-container{
    display: flex;
    width: 1023px;
    margin: auto;
    justify-content: space-between;
}
.tab-container span{
    font-family: Times, Arial, Helvetica, sans-serif;
    color: #E98074;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
#home-tab {
    font-family: Bevan, Times, Arial, serif;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 0 6px;
    color: #E98074;
    border: 1px solid #E98074;
    cursor: pointer;
}
.link-tabs div {
    width: 375px;
    display: flex;
    justify-content: space-between;
}
.tab-container span a {
    color: inherit;
    outline: none;
}
.tab-underline {
    text-decoration: underline;
}
@media(max-width: 1200px) {
    .nav-container {
        display: none;
        width: 100%;
    }
}